html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-family: "Amatic SC", cursive;
  min-height: 100vh;
  min-width: 99vw;
  text-align: center;
  margin: 0 0;
  background-color: #000;
  color: #eff;
  font-size: 40px;
}

section {
  position: relative;
  height: 100vh;
  width: 99vw;
  background-size: cover;
  display: block;
  margin: 0px auto;
  max-width: 1920px;
  z-index: 1;
}

.first {
  background-image: url("img/1.jpg");
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .first {
    background-image: url("img/1_mobile.jpg");
  }

  .anagrams .container {
    font-size: 36px;
  }

  section {
    font-size: 32px;
  }
}

.anagrams {
  font-size: 48px;
}

.anagrams .container p:first-child {
  margin: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  max-width: 1920px;
}

.container {
  max-width: 800px;
  width: 98vw;
  margin: 0 auto;
  padding-top: 2em;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
}

.first .container {
  font-size: 48px;
  position: absolute;
  left: 0;
}

.anagrams .container {
  position: absolute;
  right: 0;
}

.second {
  background-image: url("img/2.jpg");
}

.second .container {
  position: absolute;
  right: 0;
}

.container p:first-child {
  margin-top: 1.5em;
}

h3 {
  color: #f8eb21;
  font-family: "Arvo", serif;
  padding: 0.2em;
  font-size: 1em;
  margin: 0px auto;
  display: inline-block;
}

.names {
  color: #f8eb21;
}

.prank {
  padding-top: 1000px;
  padding-bottom: 40px;
}